/*
* sass default setting
* 默认设置
*/ 
$mainColor: #d46574;       // 主色调
$subColor: #242424;        // 辅助色
$materialColor: #333;      // 重要级文字信息、内容标题信息
$ordinaryColor: #666;      // 普通级段落信息 
$minorColor: #999;         // 辅助、次要的文字信息
$failureColor: #ccc;       // 失效的信息
$cutOffRuleColor: #d9d9d9; // 分割线
$btnRadius: 1.3vw;         // 按钮圆角
$fontWhiteColor: #fff;     // 文字颜色（白色）
$rightColor: #3cb374;      // 完成，成功

// 链接
// $oss: '//yxclub.oss-cn-hangzhou.aliyuncs.com/cqactivity/snatch';
$oss: 'http://oss.hshshy.com/cqactivity/snatch';
